.hg/*
.hgignore
*.a
*.db
*.dll
*.dll
*.fea
*.filters
*.fst
*.gcov
*.gz
*.html
*.idb
*.log
*.o
*.obj
*.orig
*.pdb
*.pdf
*.rds
*.Rhistory
*.Rproj
*.so
*.suo
*.tlog
*.txt
*.user
*.zip
.Rproj.user
vs/.vs
vs/Debug
vs/fstcore/Debug
vs/fstcore/x64
vs/fstcoretest/Debug
vs/fstcoretest/x64
vs/Gtest/x64
vs/x64
*.lib
*.ipch
*.db-shm
*.db-wal
*.exe
*.ilk
*.opendb
*.testdurations
*.TMP
*.enc
